<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Find Houses near Good Schools</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="container">
        <h1>Find Regions with Good Schools & Good Home Prices</h1>
        <p>Use this tool to know which regions to consider in your home search.</p>
        <div class="row">

            <div class="col-md">
                <h2>Search Price Range & Postcodes</h2>
                <form method="get" action="/">
                    <input type="hidden" id="mode" value="price-range" />
                    <div class="row">
                        <div class="col-md">
                            <div class="form-group">
                                <label>Postcode</label>
                                <select id="postgroupIds" multiple="True" class="form-control">
                                    {{#postgroups}}
                                    <option value="{{value}}">{{text}}</option>
                                    {{/postgroups}}
                                </select>
                            </div>
                        </div>
                        <div class="col-md">
                            Price Range
                            <div class="form-group">
                                <select id="priceRangeStart" class="form-control form-money">
                                    {{#priceRanges}}
                                    <option value="{{value}}">{{text}}</option>
                                    {{/priceRanges}}
                                </select>
                            </div>
                            <div class="form-group">
                                <label>to</label>
                                <select id="priceRangeEnd" class="form-control form-money">
                                    {{#priceRanges}}
                                    <option value="{{value}}">{{text}}</option>
                                    {{/priceRanges}}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </form>
            </div>

            <div class="col-md">
                <h2>Search by Place Name</h2>
                <form method="get" action="search">
                    <input type="hidden" id="mode" value="place-name" />
                    <div class="form-group">
                        <label>Place Name</label>
                        <input type="text" id="placeName" class="form-control">
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </form>
            </div>

        </div>

        <table class="table">
            <thead>
                <tr>
                    <td>locality</td>
                    <td>postcode</td>
                    <td>average home price</td>
                    <td>average ofsted rating</td>
                </tr>
            </thead>
            <tbody>
                {{#results}}
                <tr>
                    <td>{{locality}}</td>
                    <td>{{postcode}}</td>
                    <td>{{avgHomePrice}}</td>
                    <td>{{avgOfstedRating}}</td>
                </tr>
                {{/results}}
            </tbody>
        </table>


        <footer>
            Contains HM Land Registry data © Crown copyright and database right 2021.<br />
            This data is licensed under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government Licence v3.0</a>.
        </footer>
    </div>
</body>

</html>