<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Find Houses near Good Schools</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="container">
        <h1>Find Regions with Good Schools & Good Home Prices</h1>
        <p>Use this tool to know which regions to consider in your home search.</p>

        <table id="formInput">
            <tr>
                <td>
                    <h2>Search Price Range & Postcodes</h2>
                    <form method="get" action="/">
                        <input type="hidden" id="mode" value="price-range-and-postcode" />
                        <table>
                            <tr>
                                <td>
                                    <div class="field">
                                        <label>Postcode</label>
                                        <select id="postgroupIds" multiple="True">
                                            {{#postgroups}}
                                            <option value="{{value}}">{{text}}</option>
                                            {{/postgroups}}
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <div class="field">
                                        <label>Price Range</label>
                                        from
                                        <select id="priceRangeStart" class="money">
                                            {{#priceRanges}}
                                            <option value="{{value}}">{{text}}</option>
                                            {{/priceRanges}}
                                        </select>
                                        to
                                        <select id="priceRangeEnd" class="money">
                                            {{#priceRanges}}
                                            <option value="{{value}}">{{text}}</option>
                                            {{/priceRanges}}
                                        </select>
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <div class="commands">
                            <button type="submit">Search</button>
                        </div>
                    </form>
                </td>
                <td>
                    <h2>Search by Place Name</h2>
                    <form method="get" action="search">
                        <input type="hidden" id="mode" value="place-name" />
                        <div class="field">
                            <label>Place Name</label>
                            <input type="text" id="placeName">
                        </div>

                        <div class="commands">
                            <button type="submit">Search</button>
                        </div>
                    </form>
                </td>
            </tr>
        </table>

        <table>
            <tr>
                <td>place</td>
                <td>post group</td>
                <td>average ofsted rating</td>
                <td>average home price</td>
            </tr>
            {{#results}}
            <tr>
                <td>{{prace}}</td>
                <td>{{postGroup}}</td>
                <td>{{avgOfstedRating}}</td>
                <td>{{avgHomePrice}}</td>
            </tr>
            {{/results}}
        </table>


        <footer>
            Contains HM Land Registry data © Crown copyright and database right 2021.<br />
            This data is licensed under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government Licence v3.0</a>.
        </footer>
    </div>
</body>

</html>