<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Import UK Government Data into the Database</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
</head>

<body>
    <h1>Import UK Government Data into the Database</h1>
    <p>This tool allows you to you (re)import the data into the database.</p>

    <form method="post" action="/etl">
        <button id="doReimport" type="submit">Reimport Data (will take several minutes)</button>
    </form>
    <a href="/">Go back to homepage</a>

    <footer>
        This website has been developed in accordance with the 
        <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" target="_blank">Open Government Licence (OGL)</a> terms
    </footer>

    <script type="text/javascript" lang="javascript">
        const doReimportButton = document.getElementById("doReimport");
        doReimportButton.addEventListener("click", function(evt) {
            setTimeout(() => {
                this.setAttribute("disabled", "disabled");
                this.innerText = "Reloading the Data, Will take several minutes (Please wait...)";
            }, 50);
        })
    </script>
</body>

</html>