<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Find Regions with Good Schools & Good Home Prices</title>
</head>

<body>
    <h1>Find Regions with Good Schools & Good Home Prices</h1>
    <p>Use this tool to find regions with affordabe average home price near good schools.</p>

    <p>Select one of the options</p>
    <ul>
        <li><a href='etl'>Import the UK Government Data into the Database</a></li>
        <li><a href='search'>Search for Houses by Price and Ofsted Rating</a></li>
    </ul>

    <footer>
        This website has been developed in accordance with the 
        <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" target="_blank">Open Government Licence (OGL)</a> terms
    </footer>
</body>

</html>